<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%+title%></title>
    <style>
     
      .login-style-form{
        text-align: center;
        background-color:rgb(232, 232, 221);
        
      }
.login-sign{
 text-decoration: none;
  color:brown;
  background-color: azure;
}
      .input-text-style{
         width:67%;
         background-color:whitesmoke;
         color:brown;
         margin: 12px;
         height:35px;
         border:0px

      }
      .submid-btn-style{
        background-color:whitesmoke;
        width:25%;
        height: 34px;
        border:0px
      
      }
    </style>
</head>
<body>
     
     
  <form class="login-style-form" method="post" action="/get-account">
    <b style="color:red;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color: rgb(209, 203, 197);">mulut</b>
    <h1>
      <a href="/sign-up-option" class="login-sign">login</a>
   </h1>
    <input type="text" name="username_input" placeholder="username" class="input-text-style"><br>
    <input type="password"  name="password_input" placeholder="password" class="input-text-style"><br>
    
    <button type="submit" class="submid-btn-style">login</button>

  </form>

</body>
</html>