<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .bar-mini{
            background-color: gray;
        }
        .account-bar{
            margin: 20px;
            background-color: antiquewhite;
        }
        .btn-bar{
            text-decoration: none;
            height:36px;
            margin:100px
        }


    </style>

</head>
<body>
 <div class="bar-mini">
    <a href="/mulut.com" class="btn-bar" style="color:rgb(217, 203, 203)">log-out</a>
    <a href="/first-page/<%=account.account_id%>" class="btn-bar" style="color:blanchedalmond">kembali</a>
 </div>


 <div class="account-sett-wrwppwer">



<fieldset class="account-bar" style="color:rgb(29, 52, 52);border-color: rgb(40, 49, 49);"><%=account.username%></fieldset>
<fieldset class="account-bar" style="color:red;border-color:red"><%=account.password%></fieldset>
<fieldset class="account-bar" style="color:gray;border-color:gray"><%=account.location%></fieldset>
 

</div>



 


    
</body>
</html>