<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .bar-mini{
            background-color: gray;
        }
        .account-bar{
            margin: 20px;
            background-color: antiquewhite;
        }
        .btn-bar{
            text-decoration: none;
            height:36px;
            margin:100px
        }


    </style>

</head>
<body>
 <div class="bar-mini">
    <a href="/mulut.com" class="btn-bar" style="color:rgb(217, 203, 203)">log-out</a>
    <a href="/first-page/<%=account.account_id%>" class="btn-bar" style="color:blanchedalmond">kembali</a>
 </div>


 <div class="account-sett-wrwppwer">
     <div class="username-views">
        <b><%=account.username%></b>
     </div>
<select class="identiy-password">
    <option style="color:red"> password:<%=account.password%></option>
    <option style="color:green"><%=account.location%></option>
</select>

</div>



 


    
</body>
</html>